.customText {
  background-color: #f0f4ff;
  padding: 16px;
  border-left: 4px solid #2563eb;
  border-radius: 4px;
  color: #1e293b;
}




.lightcolor{
  background:#6E35A04D;
}
.darkcolor{
  background:#6E35A0;
}