

@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/markpro/MarkPro.eot');
    src: url('/fonts/markpro/MarkPro.eot?#iefix') format('embedded-opentype'),
        url('/fonts/markpro/MarkPro.woff2') format('woff2'),
        url('/fonts/markpro/MarkPro.woff') format('woff'),
        url('/fonts/markpro/MarkPro.ttf') format('truetype'),
        url('/fonts/markpro/MarkPro.svg#MarkPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro';
    src: url('/fonts/markprobold/MarkProBold.eot');
    src: url('/fonts/markprobold/MarkProBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/markprobold/MarkProBold.woff2') format('woff2'),
        url('/fonts/markprobold/MarkProBold.woff') format('woff'),
        url('/fonts/markprobold/MarkProBold.ttf') format('truetype'),
        url('/fonts/markprobold/MarkProBold.svg#MarkPro') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



body {
  font-family: 'Open Sans', sans-serif; background: #fff;
}

.container{
    max-width: 1300px !important;
    padding-left: 15px;
    padding-right: 15px;
}

.container-lrg{
    max-width: 1450px !important;
}
.col-sm-4{width: 33.33%}
.col-sm-5{width: 41.66%}
.col-sm-6{width: 50%}
.col-sm-7{width: 58.33%}
.col-sm-8{width: 66.66%}
.col-sm-12{width: 100%}


header .container{
    max-width: 1450px !important;
}
.customText {
  background-color: #f0f4ff;
  padding: 16px;
  border-left: 4px solid #2563eb;
  border-radius: 4px;
  color: #1e293b;
}
header{
  padding-top: 35px;
  padding-bottom: 66px;
}

header .col-sm-8.flex {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .col-sm-8.flex .nav-links a {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #11357C;
}

header .col-sm-8.flex .nav-links {
    display: flex;
    gap: 16px;
        margin-right: 20px;
}
.buttons {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 20px;
}

a.btn_dark {
   
    background: #6E35A0;
    padding: 16px 32px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 10px;
    border:solid 2px #6E35A0;
}
a.btn_lite {
   
    background: #6E35A0;
    padding: 16px 32px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 10px;
    border:solid 2px #6E35A0;
}
a.btn_alpha {
    
    background: #fff0;
    padding: 16px 32px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #6E35A0;
    border-radius: 10px;
    border:solid 2px #6E35A0;
}

a.btn_alpha_white {
    
    background: #fff0;
    padding: 16px 32px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border-radius: 10px;
    border:solid 2px #fff;
}
a.btn_white {
    
    background: #fff;
    padding: 16px 32px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #6E35A0;
    border-radius: 10px;
    border:solid 2px #6E35A0;
}

.container{
  max-width: 1400px;
  margin: auto;
}


.lightcolor{
  background:#6E35A04D;
}
.darkcolor{
  background:#6E35A0;
}



.menuoverlaybg {
    background-color: #6E35A0;
    background-image: url(/logo_footer.svg);
    background-size: 180px;
    background-position: calc(50% + 115px) center;
    background-repeat: no-repeat;
}


.mobilemenu {
    background: #11357C;
}

.mobilemenu * {
    color: #fff !important;
}


header .col-sm-8.flex .nav-links ul li {
    padding: 0px !important;
    margin: 0px;
}

header .col-sm-8.flex .nav-links ul {
    gap: 20px;
}


.av_video > div {
    max-width: 1080px !important;
    width: 100% !important;
    height: auto !important;
}
.main_slider{display: flex;    align-items: center; position: relative;}
.width50 {
    width: 50%;
}

.width50.rightbx {
    margin-top: -66px;
    margin-bottom: -66px;
    border-radius: 40px 0px 0px 40px;
    overflow: hidden;
}

.maincontent {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #11357C;
    padding-right: 50px ;
    padding-left: 50px;
}

@media(min-width:1400px){
  .width50.leftbx .maincontent {
        padding-left: calc(100% - 650px) !important;
        padding-right: 100px !important;
    }
}

@media(min-width:1200px){
  .width50.leftbx .maincontent {
      padding-left: calc(100% - 600px);
              padding-right: 50px;
  }
}

.width50.leftbx .maincontent h1{
      font-family: Mark Pro;
      font-weight: 700;
      font-size: 62px;
      line-height: 100%;
      letter-spacing: 0;
      color: #11357C;
          margin-bottom: 40px;
}

.main_slider .swiper-slide {
    min-height: 980px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.main_slider .swiper-slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100% !important;
    height: 100%;
    max-width: inherit !important;
    object-fit: cover;
    transform: translate(-50%,-50%);
    transform-origin: right;
    object-position: center;
}



.main_slider span.swiper-pagination-bullet {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background: #11357C;
    opacity: 1;
}

.main_slider span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 80px;
    background: #6E35A0;
}

.main_slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 32px;
}

.main_slider .floating_icon {
    position: absolute;
    bottom: 32px;
    left: calc(50% - 120px);
    z-index: 10;
}

.about_video_section {
    padding-top: 160px;
    padding-bottom: 0px;
    text-align: center;
}

.av_content {
    max-width: 748px;
    margin: auto;
    padding-bottom: 70px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #11357C;
}

.av_video {
    text-align: center;
    padding-bottom: 35px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #fff;
    margin-top: 0px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.av_video video {
    margin: auto;
    border-radius: 40px;
    position: relative;
    vertical-align: top;
    margin-bottom: 35px;    max-height: 578px;
    object-fit: cover;
}

.av_video a {
    font-weight: 600;
}

.av_video:before {
    background: #6E35A0;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 150px);
    left: 0;
}

.av_video > * {
    position: relative;
}

.av_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #11357C;
    text-align: center;
    padding-bottom: 32px;
}


.about_solution_section {
    background: #F6F5EE;
    padding-top: 175px;
    padding-bottom: 125px;
}
.about_solution_section .flex.justify-between.row {
    gap: 25px;
}
.about_solution_section .as_image {
    display: flex;
    width: 100%;
}

.as_image {
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    position: relative;
    height: 100%;
}

.as_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.as_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #11357C;
    text-align: left;
    padding-bottom: 90px;
    padding-top: 60px;
}


.as_content ul {
    border: solid 1px #6E35A0;
    border-radius: 40px;
    overflow: hidden;
}

.as_content ul li {
    padding: 40px;
    border-bottom: solid 1px #6E35A0;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    color: #6E35A0;
    background: #fff;
}

.as_content ul li:last-child {
    border: 0px;
}

.as_content ul li h4 {
    font-weight: 700;
    font-size: 26px;
    padding-bottom: 15px;
}

.as_content ul li:hover {
    background: #6E35A0;
    color: #fff;
}



.artwork_rescue_section.darkcolor {
    padding-bottom: 114px;
    padding-top: 114px;
    color: #fff;
}

.artwork_rescue_section h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0px;
    position: relative;
    z-index: 1;
}

.art_resc_content {
    position: relative;
}

.art_resc_content img.art_resc_img {
    position: absolute;
    top: 100px;
    right: 50px;    
    z-index: 0;
    width: 650px;
    max-width: inherit;
}

.art_resc_content_details {
    font-family: Mark Pro;
    font-size: 20px;
    position: relative;
}

.art_resc_content_details p {
    margin-bottom: 20px;
}

.art_resc_content_details p strong {
    font-weight: 600;
}

.artwork_rescue_section.darkcolor .container {
    max-width: 1200px !important;
}

.art_resc_content_details p {
    margin-bottom: 15px;
    line-height: 28px;
}

.ourservices_section {
    padding-top: 125px;
    padding-bottom: 105px;
}

.ourservices_section h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #11357C;
    padding-bottom: 90px;
    text-align: center;
}

.artwork_rescue_section.darkcolor .container {
    max-width: 1150px !important;
}

.ourservices_section .service_boxes li {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 100px;
}
.ourservices_section .service_boxes li .servicebox_content {
    width: 45%;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #11357C;
}

.ourservices_section .service_boxes li .servicebox_img {
    width: 55%;
    border-radius: 40px;
    overflow: hidden;
}

.ourservices_section .service_boxes li .servicebox_content h3 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    color: #11357C;
    margin-bottom: 20px;
}

.ourservices_section .service_boxes li .servicebox_content a {
    color: #6E35A0;
    display: block;
    margin-top: 20px;
}

.ourservices_section .service_boxes li:nth-child(even) {direction: rtl;}

.ourservices_section .service_boxes li:nth-child(even) .servicebox_content {
    direction: ltr;
}

.expert_artwork_services_section .container {
    max-width: 1150px !important;
    margin: auto;
}

.expert_artwork_services_section .container .easervicebox {
    display: flex;
    gap: 100px;
    padding-bottom: 100px;
}

.expert_artwork_services_section .container .easervicebox .easervicebox_content {
    width: 50%;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #11357C;
}

.expert_artwork_services_section .container .easervicebox .easervicebox_icons {
    width: 50%;
}


.expert_artwork_services_section h3 {font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    color: #11357C;
    margin-bottom: 20px;
    max-width:500px;
    line-height:normal
}

.expert_artwork_services_section .container .easervicebox .easervicebox_icons ul {
    display: flex;
    gap: 15px;
}

.expert_artwork_services_section .container .easervicebox .easervicebox_icons ul li {
    justify-items: center;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    align-items: start;
    width: 33.33%;
    color: #11357C;
}

.expert_artwork_services_section .container .easervicebox .easervicebox_icons ul li .eas_icon {
    width: 100px;
    height: 100px;
    background: #11357C;
    border-radius: 20px;
    line-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.expert_artwork_services_section .container .easervicebox .easervicebox_icons ul li .eas_icon img {
    width: 60px !important;
    height: 60px;
}

.google_reviews_section img {
    max-width: inherit;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.google_reviews_section {
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our_reviews_section {
    position: relative;
        margin-top: 122px;
    margin-bottom: 122px;
}

.our_reviews_section:before {
        content: '';
    display: block;
    background: #6e35a0;
    position: absolute;
    top: -122px;
    width: 100%;
    height: calc(100% + 244px);
    max-width: 1450px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
}

.our_reviews_section .container {
    position: relative;
    z-index: 1;
}

.our_reviews_section h2 {
    color: #fff;
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    width: 100%;
}
.expert_artwork_services_section {
    margin-bottom: 100px;
}



.get_free_quote_section {
    margin-top: 122px;
    padding-top: 116px;
    padding-bottom: 116px;
}

.get_free_quote_section .flex.justify-between.row {
    gap: 60px;
    align-items: center;
}

.get_free_quote_section .flex.justify-between.row .gfq_img {
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}


.get_free_quote_section .flex.justify-between.row .gfq_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}

.get_free_quote_section .flex.justify-between.row .gfq_img:before {
    content: '';
    padding-bottom: 80%;
    display: block;
}

.get_free_quote_section .flex.justify-between.row .gfq_content {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    color: #11357C;
}

.get_free_quote_section .flex.justify-between.row .gfq_content li {
    margin-bottom: 20px;
}

.get_free_quote_section  h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    color: #11357C;
    margin-bottom: 20px;
}


.pricing_section {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    background: #F6F5EE;
    color: #11357C;
}

.pricing_section h4 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pricing_section .pricing_section_content, .pricing_section ul {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
}


.quality_section {
    padding-top: 128px;
    padding-bottom: 128px;
    text-align: center;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #11357C;
}

.quality_section .container {
    max-width: 1000px !important;
}

.quality_section .container h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: center;
    color: #11357C;
    padding-bottom: 40px;
}
/*Footer*/

footer .darkcolor {
    padding-top: 75px;
    padding-bottom: 75px;
}

footer .darkcolor .social_icons a {
    padding: 10px;
    background: #7C48A8;
    border-radius: 50%;
}

footer .darkcolor .social_icons a svg {
    width: 100%;
    max-width: 32px;
    height: auto;
}

nav.footernavbar {
    padding-top: 80px;
}

nav.footernavbar .nav-links {
    column-count: 2;
    gap: 40px;
    display: block;
}

nav.footernavbar .nav-links a {
    display: inherit;
    font-family: Mark Pro;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
    width: max-content;
}

footer h6 {
    display: block;
    font-family: Mark Pro;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
    font-weight: 600;
}

.foot_contact {
    padding-top: 55px;
}

.foot_contact ul {
    display: flex;
    gap: 50px;
}


.foot_contact ul li a {
    display: block;
    text-decoration: underline;
    white-space: nowrap;
}

.foot_contact ul * {
    font-family: Mark Pro;
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}


.flex.justify-between.row.foot_copy {
    padding-top: 50px;
    color: #fff;
}

.flex.justify-between.row.foot_copy .copyright {
    padding: 5px 15px;
    background: rgb(245 245 245 / 20%);
    text-align: center;
}

.footcontact a {
    font-weight: 700;
}


/*embroidery_digitizing css*/

.topbanner_area .container {
    max-width: 1450px !important;
}

.topbanner_area .floating_icon {
    position: absolute;
    bottom: -90px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.topbanner_area {
    position: relative;
}


.topbanner {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}

.topbanner:before {
    content: '';
    padding-bottom: 50%;
    display: block;
}

.topbanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}


.ed_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: left;
    color: #11357C;
    margin-bottom: 32px;
}

.ed_content {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    color: #11357C;
    padding-bottom: 53px;
}

.ed_content p {
    margin-bottom: 30px;
}

.ed_content a.btn_alpha {display: inline-block;}

.embroidery_digitizing_section {
    padding-top: 173px;
    overflow: clip;
}



.why_ed_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 32px;
    padding-top: 50px;
    display: inline-block;
}

.why_ed_content {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    color: #fff;
    position: relative;
}

.why_ed_content:before {content: '';background: #6e35a0;position: absolute;top: 0;width: 5000px;height: 100%;left: 50%;transform: translateX(-50%);z-index: -1;}

.embroidery_digitizing_section .flex.justify-between.row {
    gap: 56px;
}

.embroidery_digitizing_section .flex.justify-between.row .col-sm-5 {
    display: flex;
    border-radius: 40px;
    overflow: hidden;
}

.embroidery_digitizing_section .flex.justify-between.row .col-sm-5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embroidery_digitizing_section .flex.justify-between.row .col-sm-5 .ed_img {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.sample_work_section{ padding-top:100px; }

.relative.sps {
    position: relative;
    padding-bottom: 110px;
    margin-bottom: -72px;
}

.relative.sps button {
    bottom: 0;
    top: inherit;
    cursor: pointer;
}

.sws_line {
    max-width: 80%;
    margin: auto;
    padding-bottom: 50px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
}


.sample_work_section.darkcolor ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.sample_work_section.darkcolor ul li {
    width: calc(33.33% - 30px);
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.sample_work_section.darkcolor.spslider ul li {
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.sample_work_section.darkcolor ul li.sws_img:before {
    padding-bottom: 66%;
    content: '';
    display: block;
}

.sample_work_section.darkcolor ul li.sws_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}


li.sw_content {
    border-radius: inherit !important;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
}

li.sw_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 15px;
}

.sample_work_section .container {
    max-width: 1450px !important;
}




.sample_work_section .container {
    max-width: 1400px !important;
}


.relative.sps {
    position: relative;
    padding-bottom: 110px;
}

.relative.sps button {
    bottom: 0;
    top: inherit;
}


.why_ed_content h2:after {
    content: '';
    display: block;
    height: 25px;
    background: url(/embroidery_digitizing/why_embroidery_line.svg);
    background-size: cover;
}

li.sw_content:after {
    content: '';
    display: block;
    height: 82px;
    background: url(/embroidery_digitizing/sample_work_arrow.svg);
    background-size: cover;
}




.pricing_section h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: center;
}

.pricing_section ul {
    margin-top: 60px;
    display: flex;
    gap: 32px;
}

.pricing_section ul li {
    width: calc(33.33% - 30px);
    border: solid 1px #D1C9C9;
    background: #F5F5F5;
    border-radius: 40px;
    padding: 50px 40px;
    padding-bottom: 128px;
    position: relative;
}

.pricing_section ul li h3 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    min-height: 102px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.prodesc {
    margin-top: 50px;
    padding-top: 50px;
    position: relative;
    font-size: 18px;
}

.prodesc:before {
    content: '';
    border-top: solid 1.5px #DDDDDD;
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    transform: translateX(-50%);
    left: 50%;
}

.prodbtn {position: absolute;bottom: 40px;width: calc(100% - 80px);text-align: center;background: #6E35A0;color: #fff;border-radius: 40px;height: 50px;line-height: 54px;font-family: Mark Pro;font-weight: 700;font-size: 20px;}

.sml_note {
    color: #6E35A0;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
}


.whychoose_section.darkcolor .flex.justify-between.row {
    align-items: center;
    color: #fff;
    gap: 70px;
}

.whychoose_section.darkcolor .wc_img_title {
    text-align: center;
    justify-items: anchor-center;
    padding-top: 71px;
    padding-bottom: 130px;
    background: linear-gradient(253.09deg, rgba(217, 217, 217, 0.25) -7.53%, rgba(217, 217, 217, 0) 97.04%);
    backdrop-filter: blur(50px);
    margin-top: -35px;
    margin-bottom: -35px;
    border-radius: 33px;
    overflow: hidden;
    border: 1px solid;
    border-image-source: linear-gradient(246.16deg, rgba(253, 250, 250, 0.25) 4.55%, rgba(255, 251, 251, 0.25) 39.51%);
}

.whychoose_section.darkcolor .wc_img_title h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: center;
    padding-top: 60px;
}


.wc_content {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 20px;
}

.wc_content p {
    margin-bottom: 30px;
}

.call_artwork_section {
    font-family: Mark Pro;
    font-size: 26px;
    line-height: normal;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 186px;
    background: #F6F5EE;
    color: #6E35A0;
    margin-bottom: -122px;
    font-weight: 700;
}

.call_artwork_section .container {
    max-width: 1000px !important;
}

.call_artwork_section .container .call_btns {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
}
.embroidery_digitizing_page {
    margin-top: -30px;
}


/*art_services css*/

.art_services_page {
    margin-top: -30px;
}



.topbanner_area .container {
    max-width: 1450px !important;
}

.top_banner_content {
    padding-left: 117px;
    padding-right: 117px;
    padding-top: 46px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    color: #11357C;
}

.top_banner_content h1 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: left;
    color: #11357C;
    padding-bottom: 32px;
    position: relative;
}

.top_banner_content h1:after {
    content: '';
        width: 453px;
    height: 318px;
    background: url(/vector_art/vector_art_arrow.png);
    display: block;
    position: absolute;
    left: -117px;
}

.art_services_page .topbanner_area {
    position: relative;
    padding-bottom: 64px;
    overflow: hidden;
}

.art_services_page .topbanner {
    height: calc(100% + 64px);
}



.tb_outputfiles {
    padding-left: 117px;
    padding-right: 50px;
    padding-top: 46px;
    padding-bottom: 64px;
    position: relative;
    margin-top: 30px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #11357C;
}

.tb_outputfiles:before {
    content: '';
    background: #F6F5EE;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5000px;
    left: -50%;
    transform: translateX(-50%);
    z-index: -1;
}

.art_services_page .topbanner {
    height: calc(100% + 64px);
}

.tb_outputfiles ul {
    margin-top: 20px;
}

.tb_outputfiles ul li {
    background: #fff;
    display: flex;
    padding: 8px 32px;
    gap: 12.5px;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 20px;
}


.embroidery_digitizing_section.whygo_floating .flex.justify-between.row .col-sm-5 {
    border-radius: inherit;
}

.whygo h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    color: #11357C;
    max-width: 400px;
    line-height: normal;
}

.whygo .floating_icon {width: 180px;height: 180px;position: relative;}

.whygo {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.embroidery_digitizing_section.whygo_floating .flex.justify-between.row {
    gap: 0px;
}

.whygo_btn {
    position: relative;
    padding-left: 75px;
}

.whygo_btn:before {
    content: '';
    width: 430px;
    height: 378px;
    position: absolute;
    background: url(/vector_art/why_go_vector.png);
    left: -386px;
    transform-origin: right;
    bottom: 0px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-3deg);
}


.swsr_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.swsr_container .swsr_timg,
.swsr_container .swsr_oimg,
.swsr_container .swsr_img_whead {    width: calc(33.33% - 30px);
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.swsr_container .swsr_img {
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.swsr_container .swsr_img:before {
        padding-bottom: 66%;
    content: '';
    display: block;
}

.swsr_container .swsr_oimg .swsr_img:before {
        padding-bottom: calc(132% + 30px);
    content: '';
    display: block;
}

.swsr_container .swsr_img img{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 100%;
}




.swsr_content {
    border-radius: inherit !important;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
}

.swsr_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 15px;
}

.swsr_content:after {
    content: '';
    display: block;
    height: 82px;
    background: url(/vector_art/sample_work_arrow_revert.svg);
    background-size: cover;
    margin-top: 20px;
}


h2.pricon {
    position: relative;
    display: inline-block;
}

h2.pricon:before {
    content: '';
    width: 60px;
    height: 60px;
    background: url(/vector_art/price_design_left.png) no-repeat center;
    display: block;
    position: absolute;
    left: -70px;
    top:50%;
    transform:translateY(-50%);
}


h2.pricon:after {
    content: '';
    width: 60px;
    height: 60px;
    background: url(/vector_art/price_design_right.png) no-repeat center;
    display: block;
    position: absolute;
    right: -70px;
    top:50%;
    transform:translateY(-50%);
}


/*About Page*/
.about_page {
    margin-top: -30px;
}

.about_page .topbanner_area {
    position: relative;
    overflow: hidden;
}


.about_page .flex.justify-between.row {
    gap: 90px;
}

.about_top_content {
    padding-top: 130px;
    padding-bottom: 250px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    color: #11357C;
    padding-right: 100px;
}



.about_page .topbanner {
    height: 100%;
}

.about_top_content h1 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 62px;
    line-height: normal;
    color: #11357C;
    margin-bottom: 80px;
    position: relative;
}

.about_top_content p {
    margin-bottom: 20px;
}

.about_top_content h1:after {
    content: '';
    display: block;
    width: 84px;
    height: 130px;
    position: absolute;
    left: 100%;
    background: url(/about/idea_bulb.png);
    bottom: 0;
}

.about_top_content h1 span {
    display: inline-block;
    position: relative;
}


.about_top_content h1 span:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -17px;
    width: calc(100% + 34px);
    height: calc(100% + 20px);
    background: url(/about/artwork_circle.png);
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content_slider_area.lightcolor {
    padding-top: 193px;
    margin-top: -160px;
    padding-bottom: 75px;
}

.content_slider_area.lightcolor .container {
    max-width: 1450px !important;
}

.content_slider_box.darkcolor {
    padding: 100px;
    border-radius: 40px;
}


.content_slider_box   .p-8.bg-gray-100.rounded-lg.text-center {
    background: transparent;
    color: #fff;
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.service_featured_section {
    overflow:hidden;
    padding-bottom: 84px;
}

.service_featured_section .flex.justify-between.row .col-sm-5 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_featured_section .flex.justify-between.row .col-sm-5 .ed_img {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.service_featured_section .flex.justify-between.row {
    gap: 24px;
}

.service_featured_section .container {
    max-width: 1165px !important;
}

.service_featured li {
    position: relative;
    padding: 30px;
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    color: #11357C;
}

.service_featured li:first-child:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 100%;
    background: #d3c2e2;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}



.service_featured li:last-child {
    color: #fff;
    background: #6E35A0;
    border-radius: 40px;
}


.swiper + button,.swiper + button + button {
    cursor: pointer !important;
}


.service_featured li:first-child img {
    width: 100px;
    display: inline;
    margin-bottom: -30px;
}

.service_featured li:nth-child(2) img {
    width: 100px;
    display: inline;
    float:right
}

.service_featured li:nth-child(3){
    display:flex;
    gap:8px;
    align-items: center;
    padding: 40px 65px;
    width: 100%;
}

.service_featured li:nth-child(3) img{
    width:80px;
}
.content_slider_box button {
    cursor: pointer;
}

/*What We Do*/
.whatwedo_page {
    margin-top: -30px;
}

.whatwedo_page .topbanner_area {
    position: relative;
}


.whatwedo_page .topbanner_area .flex.justify-between.row {
    gap: 0px;
}

.about_top_content {
    padding-top: 130px;
    padding-bottom: 250px;
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    color: #11357C;
    padding-right: 100px;
}


.whatwedo_page .topbanner {
    height: 100%;
    border-radius: 40px 0px 0px 40px;
}

.whatwedo_page .flex.justify-between.row .floating_icon {
    left: 100px;
    transform: inherit;
}

.whatwedo_page .flex.justify-between.row  {
    position: relative;
}

.wwd_top_content h1 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 62px;
    line-height: normal;
    color: #fff;
    margin-bottom: 60px;
    position: relative;
}

.wwd_top_content p {
    margin-bottom: 20px;
}


.wwd_top_content {
    background: #6e35a0;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    padding: 100px 100px 100px 70px;
    color: #fff;
}



.wcp_section {
    padding-top: 173px;
    overflow-x: clip;
}

.wcp_section .flex.justify-between.row {
    gap: 90px;
}

.wcp_section .flex.justify-between.row .col-sm-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wcp_section .flex.justify-between.row .col-sm-5 h2 {    
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: center;
    color: #11357C;
    max-width: 400px;
    margin: 20px auto;
}
.wcp_section .flex.justify-between.row .col-sm-5 h5 {font-family: Mark Pro;font-weight: 700;font-size: 26px;line-height: normal;text-align: center;color: #11357C;}

.wcp_img {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.wcp_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wcp_content {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    color: #11357C;
}

.wcp_content p {
    margin-bottom: 30px;
}

.why_wcp_content {
    font-family: Mark Pro;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-align: justify;
    color: #fff;
    position: relative;
}

.why_wcp_content:before {
    content: '';
    background: #F6F5EE;
    position: absolute;
    top: 0;
    width: 5000px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.why_wcp_content h2 {
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    text-align: left;
    color: #11357C;
    margin-bottom: 32px;
    padding-top: 50px;
    display: inline-block;
}

.gfq_content ul {
    list-style: unset;
    padding-left: 30px;
}


.why_wcp_content_listing {
    background: #F6F5EE;
    padding-top: 90px;
    padding-bottom: 150px;
}

.why_wcp_content_listing .container {
    max-width: 1400px !important;
}

.why_wcp_content_listing .wcp_content_listing_area {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
}

.why_wcp_content_listing .wcp_content_listing_area ul  {
    width: calc(33.33% - 24px);
    display: grid;
    gap: 16px;
    align-content: center;
    
}

.why_wcp_content_listing .wcp_content_listing_area ul li{
    box-shadow: 0px 4px 4px #00000026;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 16px 32px;
    gap: 16px;
    display: flex;
    font-family: Mark Pro;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    color: #6E35A0;}

.why_wcp_content_listing .wcp_content_listing_area ul li .wcp_list_icon {
    width: 115px;
    height: 115px;
    background: #6E35A0;
    display: inline-block;
    line-height: 115px;
    text-align: center;
    border-radius: 10px;
}

.why_wcp_content_listing .wcp_content_listing_area ul li h3 {
    width: calc(100% - 115px);
    font-size: 24px;
    padding-top: 10px;
}

.why_wcp_content_listing .wcp_content_listing_area ul li .wcp_list_icon img.wcpli {
    margin: auto;
    line-height: 115px;
    display: inline-block;
    width: auto;
    height: auto;
}


.why_wcp_content_listing+.our_reviews_section:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f5ee;
    display: block;
    left: 0;
    top: -50%;
    z-index: -1;
}

.why_wcp_bimage {
    height: 55px;
    width: 100%;
    max-width: 340px;
    position: relative;
    background: url(/what_we_do/wc_line.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.why_wcp_bimage:after {
    width: 197px;
    height: 304px;
    background: red;
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0%;
    transform: translateY(-50%);
    z-index: 9;background: url(/what_we_do/wc_bulb.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.why_wcp_content_listing .wcp_content_listing_area ul li:nth-child(even) .wcp_list_icon {
    order: 2;
}

.why_wcp_content_listing .wcp_content_listing_area ul:nth-child(even) li:nth-child(odd) .wcp_list_icon {
    order: 2;
}
.why_wcp_content_listing .wcp_content_listing_area ul:nth-child(even) li:nth-child(even) .wcp_list_icon {
    order: 1 !important;
}
.why_wcp_content_listing .wcp_content_listing_area ul:nth-child(even) li:nth-child(even) h3 {
    order: 2 !important;
}